*.tar
*.jpg
*.npy
*.zip
*.pyc
*.csv
*.json
.idea/
logs/
models/
.DS_Store
*/.DS_Store
.vscode/
*.txt
log*
*/logs*
*.cluster
wandb/
*/wandb/
just-ask/
main.pdf
*.mp4
*/bert-restore-punctuation/
*/htm_aa_v1.csv
*/vid_to_path.json
